* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
  min-height: 80vh;
}

.nav {
  width: 100%;
  height: 10vh;
  background-color:#1c03fc;;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  
}

.site-title {
  font-size: 5rem;
  font-family: fantasy;
}

.nav ul {
  font-size: 2rem;
  padding: 2px;
  font-family: fantasy;
  margin: 2px;
  list-style: none;
  display: flex;
  gap: 2rem;
  text-shadow: 0 0.2rem 5rem rgb(16, 2, 57);
  
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: rgba(8, 25, 181, 0.92);
  border-radius: 12px;
}

.nav li:hover {
  background-color: rgba(6, 0, 65, 0.956);
  border-radius: 12px;
}
